@model SistemaGestionFerreteria.Models.Entities.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<h1 class="mb-4">Editar Producto</h1>

<form asp-action="Edit">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>

        <input asp-for="Nombre" class="form-control" />

        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Precio" class="form-label"></label>

        <input asp-for="Precio" class="form-control" />

        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label"></label>

        <input asp-for="Stock" class="form-control" />

        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label"></label>

        <select asp-for="CategoriaId"
                asp-items="ViewBag.Categorias"
                class="form-select">
            <option value="">Seleccione una categoria</option>
        </select>

        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ProveedorId" class="form-label"></label>

        <select asp-for="ProveedorId"
                asp-items="ViewBag.Proveedores"
                class="form-select">
            <option value="">Seleccione un proveedor</option>
        </select>

        <span asp-validation-for="ProveedorId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">
        Actualizar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}