@model SistemaGestionFerreteria.Models.Entities.Proveedor

@{
    ViewData["Title"] = "Eliminar Proveedor";
}

<h1 class="mb-4 text-danger">Eliminar Proveedor</h1>

<div class="alert alert-warning">
    ¿Estas seguro que deseas eliminar este proveedor?
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <p>
            <strong>Nombre:</strong>
            @Model.Nombre
        </p>

        <p>
            <strong>Telefono:</strong>
            @Model.Telefono
        </p>

        <p>
            <strong>Email:</strong>
            @Model.Email
        </p>

    </div>
</div>

<form asp-action="Delete" class="mt-3">

    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">
        Eliminar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>