@model IEnumerable<SistemaGestionFerreteria.Models.Entities.Venta>

@{
    ViewData["Title"] = "Ventas";
}

<h1 class="mb-4">Ventas</h1>

<a asp-action="Create" class="btn btn-primary mb-3">
    Nueva Venta
</a>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var venta in Model)
        {
            <tr>
                <td>@venta.Cliente?.Nombre</td>
                <td>@venta.Fecha.ToShortDateString()</td>
                <td>$@venta.Total</td>
            </tr>
        }
    </tbody>

</table>